<md-dialog ng-cloak>
  <md-content>
   
    <md-card>
      <md-card-content>
        <h2> Time Info </h2>
        <table class="table table-striped table-hover">
          <tr>
            <th>Value</th>
            <th ng-repeat="item in dialogCtrl.items">{{item.prog}}</td>
          </tr>
          <tr ng-repeat="(title,data) in dialogCtrl.items[0].time_log track by $index">
            <td>{{title}}</td>
            <td ng-repeat="item in dialogCtrl.items">{{item.time_log[title]}}</td>
          </tr>
        </table>
     </md-card-content>
    </md-card>
    
     <md-card>
      <md-card-content>   
        <h2> Debug Info </h2>
        <table class="table table-striped table-hover">
          <tr>
            <th>Value</th>
            <th ng-repeat="item in dialogCtrl.items">{{item.prog}}</td>
          </tr>
          <tr ng-repeat="(title,data) in dialogCtrl.items[0].debug_out">
            <td>{{title}}</td>
            <td ng-repeat="item in dialogCtrl.items">{{item.debug_out[title]}}</td>
          </tr>
        </table>
     </md-card-content>
    </md-card>
    
    <md-card ng-repeat="item in dialogCtrl.items" ng-if="item.log_output">
      <md-card-content>
        <h2> Log Output if {{item.prog}}</h2>
        <pre>
        {{item.log_output}}
        </pre>
     </md-card-content>
    </md-card>
  </md-content>
</md-dialog>