<md-toolbar>
  <div class="md-toolbar-tools">
   <md-button><ng-md-icon icon="home" ui-sref="home" aria-label="home"> </ng-md-icon></md-button>
   <h2>Overview</h2>
  </div>  
</md-toolbar>

<div ng-if="!ctrl.results">
  None Selected
</div>

<div ng-if="ctrl.results" layout-padding>
  <table class="table table-striped table-hover">
    <tr>
      <th>Mean Quality</th>
      <th ng-repeat="prog in ::ctrl.results[0].config.progs">{{::prog}}</th>
    </tr>
    <tr ng-repeat="result in ::ctrl.results">
      <td>{{::result.name}}</td>
      <td ng-repeat="prog in ::ctrl.results[0].config.progs" ng-class="{max : result.stats[prog].quality == result.stats_quality_max}">{{::result.stats[prog].quality*100 | number:1}} %</td>
    </tr> 
  </table>
  
  <table class="table table-striped table-hover">
    <tr>
      <th>Mean Absolut</th>
      <th ng-repeat="prog in ::ctrl.results[0].config.progs">{{::prog}}</th>
    </tr>
    <tr ng-repeat="result in ::ctrl.results">
      <td>{{::result.name}}</td>
      <td ng-repeat="prog in ::ctrl.results[0].config.progs" ng-class="{max : result.stats[prog].quality == result.stats_quality_max}">{{::result.stats[prog].absolut | number:2}} </td>
    </tr> 
  </table>
  
  <table class="table table-striped table-hover">
    <tr>
      <th>Has the best of all</th>
      <th ng-repeat="prog in ::ctrl.results[0].config.progs">{{::prog}}</th>
    </tr>
    <tr ng-repeat="result in ::ctrl.results">
      <td>{{::result.name}}</td>
      <td ng-repeat="prog in ::ctrl.results[0].config.progs" ng-class="{max : result.stats[prog].winning == result.stats_winning_max}">{{::result.stats[prog].winning}} </td>
    </tr> 
  </table>
    
    <table class="table table-striped table-hover">
      <tr>
        <th>Failed Instances</th>
        <th ng-repeat="prog in ::ctrl.results[0].config.progs">{{::prog}}</th>
      </tr>
      <tr ng-repeat="result in ::ctrl.results">
        <td>{{::result.name}}</td>
        <td ng-repeat="prog in ::ctrl.results[0].config.progs" ng-class="{max : result.stats[prog].failed == result.stats_failed_min}">{{::result.stats[prog].failed}}</td>
      </tr> 
    </table>
    
     <table class="table table-striped table-hover">
      <tr>
        <th>Mean Time</th>
        <th ng-repeat="prog in ::ctrl.results[0].config.progs">{{::prog}}</th>
      </tr>
      <tr ng-repeat="result in ::ctrl.results">
        <td>{{::result.name}}</td>
        <td ng-repeat="prog in ::ctrl.results[0].config.progs" ng-class="{max : result.stats[prog].time == result.stats_time_min}">{{::result.stats[prog].time | number:2}} s</td>
      </tr> 
    </table>
</div>
